source = ~/.cache/wal/colors-hyprland.conf

# See https://wiki.hyprland.org/Configuring/Monitors/

# # Execute your favorite apps at launch
exec-once = wl-paste --watch cliphist store -max-items 100
exec-once = lxpolkit
exec-once = hyprpanel
exec-once = hypridle
exec-once = wlsunset -l 45.5 -L -73.5 -t 3000 -T 6000

{{ if eq .chezmoi.hostname "mig-laptop" }}
monitor=,preferred,auto,1.5
{{ else if eq  .chezmoi.hostname "mig-desktop" }}
monitor = DP-1, 1920x1080@144, 0x0, 1
monitor = DP-2, 1920x1080@119.98, auto-right, 1
{{ end }}

$cursor = Bibata-Modern-Ice
env = HYPRCURSOR_THEME,$cursor
env = HYPRCURSOR_SIZE,24
env = XCURSOR_THEME,$cursor
env = XCURSOR_SIZE,24
exec-once = gsettings set org.gnome.desktop.interface cursor-theme $cursor

input {
    kb_layout = us
    kb_options = altwin:menu_win
    repeat_rate = 50
    repeat_delay = 300

    follow_mouse = 1
    sensitivity = -0.5

    touchpad {
        natural_scroll = yes
        scroll_factor = 0.2
        clickfinger_behavior = true
    }
}

device {
    name = 04881080:00-0488:1052-touchpad
    sensitivity = 0.2
}

device {
    name = at-translated-set-2-keyboard
    kb_options = caps:swapescape
}

cursor {
    no_hardware_cursors = true
}

general {
    gaps_in = 5
    gaps_out = 10
    border_size = 2
    col.active_border = $color6
    col.inactive_border = $color1
}

decoration {
    inactive_opacity = 0.9

    blur {
        enabled = true
        size = 7
        passes = 3
    }

    shadow {
        enabled = false
    }
}

animations {
    enabled = false
}

gestures {
    workspace_swipe = on
    workspace_swipe_cancel_ratio = 0.15
}

misc {
    force_default_wallpaper = 0
    disable_hyprland_logo = true
}

xwayland {
  force_zero_scaling = true
}


# # Default workspaces for apps
windowrule = monitor 1,class:^steam_app_\d+$
windowrule = workspace 4 silent, class:^(steam)$
windowrule = workspace 5, class:^steam_app_\d+$
windowrule = workspace 5, class:^(cs2)$
windowrule = workspace 7, class:^(org.mozilla.firefox)$
windowrule = workspace 7, class:^(zen)$
windowrule = workspace 8 silent, class:^(discord)$
windowrule = workspace 9 silent, class:^(Spotify)$

{{ if eq .chezmoi.hostname "mig-desktop" }}
workspace = 1, monitor:DP-1
workspace = 2, monitor:DP-1
workspace = 3, monitor:DP-1
workspace = 4, monitor:DP-1
workspace = 5, monitor:DP-1
workspace = 6, monitor:DP-2
workspace = 7, monitor:DP-2
workspace = 8, monitor:DP-2
workspace = 9, monitor:DP-2
workspace = 10, monitor:DP-2
{{ end }}


bind = SUPER, Return, exec, alacritty
bind = SUPER, E, exec, nemo
bind = SUPER, space, exec, wofi --show drun -I
bind = , Print, exec, grimblast --freeze copy area | grim - | wl-copy
bind = SUPER, Print, exec, grim -g "$(slurp)"
bind = SUPER, C, exec, hyprpicker -a

bind = SUPER, V, exec, ~/.config/hypr/scripts/cliphist-wofi-img | wl-copy

bind = SUPER, P, exec, hyprlock
bind = SUPER, W, killactive,
bind = SUPER SHIFT, Q, exec, hyprctl activewindow | grep pid | tr -d 'pid:' | xargs kill
bind = SUPER, M, exit,
bind = SUPER, T, togglefloating,
bind = SUPER, S, togglesplit, # dwindle
bind = SUPER, F, fullscreen
bind =      , F11, fullscreen
bind = SUPER, TAB, cyclenext, # change focus to another window
bind = SUPER, TAB, bringactivetotop, # bring it to the top
bind = ALT, TAB, workspace, previous

# Move focus with mod + arrow keys
bind = SUPER, left, movefocus, l
bind = SUPER, right, movefocus, r
bind = SUPER, up, movefocus, u
bind = SUPER, down, movefocus, d
bind = SUPER, H, movefocus, l
bind = SUPER, L, movefocus, r
bind = SUPER, K, movefocus, u
bind = SUPER, J, movefocus, d

# Move focus with mod + arrow keys
bind = SUPER SHIFT, left, movewindow, l
bind = SUPER SHIFT, right, movewindow, r
bind = SUPER SHIFT, up, movewindow, u
bind = SUPER SHIFT, down, movewindow, d
bind = SUPER SHIFT, H, movewindow, l
bind = SUPER SHIFT, L, movewindow, r
bind = SUPER SHIFT, K, movewindow, u
bind = SUPER SHIFT, J, movewindow, d

# Resize
bind = SUPER, R, submap, resize
submap=resize
binde = , left, resizeactive, -10 0
binde = , right, resizeactive, 10 0
binde = , up, resizeactive, 0 -10
binde = , down, resizeactive, 0 10
binde = , H, resizeactive, -10 0
binde = , L, resizeactive, 10 0
binde = , K, resizeactive, 0 -10
binde = , J, resizeactive, 0 10
bind = , ESCAPE,submap,reset
bind = SUPER, R,submap,reset
submap=reset

# Swap current monitor
bind = SUPER, X, movecurrentworkspacetomonitor, +1

# Switch workspaces with mod + [0-9]
bind = SUPER, 1, workspace, 1
bind = SUPER, 2, workspace, 2
bind = SUPER, 3, workspace, 3
bind = SUPER, 4, workspace, 4
bind = SUPER, 5, workspace, 5
bind = SUPER, 6, workspace, 6
bind = SUPER, 7, workspace, 7
bind = SUPER, 8, workspace, 8
bind = SUPER, 9, workspace, 9
bind = SUPER, 0, workspace, 10

# Move active window to a workspace with mod + SHIFT + [0-9]
bind = SUPER SHIFT, 1, movetoworkspace, 1
bind = SUPER SHIFT, 2, movetoworkspace, 2
bind = SUPER SHIFT, 3, movetoworkspace, 3
bind = SUPER SHIFT, 4, movetoworkspace, 4
bind = SUPER SHIFT, 5, movetoworkspace, 5
bind = SUPER SHIFT, 6, movetoworkspace, 6
bind = SUPER SHIFT, 7, movetoworkspace, 7
bind = SUPER SHIFT, 8, movetoworkspace, 8
bind = SUPER SHIFT, 9, movetoworkspace, 9
bind = SUPER SHIFT, 0, movetoworkspace, 10

# Example special workspace (scratchpad)
bind = SUPER, S, togglespecialworkspace, magic
bind = SUPER SHIFT, S, movetoworkspace, special:magic

# Scroll through existing workspaces with mod + scroll
bind = SUPER, mouse_down, workspace, e+1
bind = SUPER, mouse_up, workspace, e-1

# Move/resize windows with mod + LMB/RMB and dragging
bindm = SUPER, mouse:272, movewindow
bindm = SUPER, mouse:273, resizewindow

bind = , XF86MonBrightnessUp, exec, brightnessctl s +5%
bind = , XF86MonBrightnessDown, exec, brightnessctl s 5%-
bind = SUPER, I, exec, zsh -c "~/.local/bin/brightness_sync down"
bind = SUPER, O, exec, zsh -c "~/.local/bin/brightness_sync up"

binde = , XF86AudioRaiseVolume, exec, wpctl set-volume -l 1.5 @DEFAULT_AUDIO_SINK@ 5%+
binde = , XF86AudioLowerVolume, exec, wpctl set-volume -l 1.4 @DEFAULT_AUDIO_SINK@ 5%-
bind  = , XF86AudioMute, exec, wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle
bindl = , XF86AudioPlay, exec, playerctl play-pause
bindl = , XF86AudioPrev, exec, playerctl previous
bindl = , XF86AudioNext, exec, playerctl next

binde = SUPER, F11, exec, wpctl set-volume -l 1.5 @DEFAULT_AUDIO_SINK@ 5%+
binde = SUPER, F10, exec, wpctl set-volume -l 1.4 @DEFAULT_AUDIO_SINK@ 5%-
bind  = SUPER, F9, exec, wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle
bind  = SUPER, F5, exec, wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle
bindl = SUPER, F7, exec, playerctl play-pause
bindl = SUPER, F6, exec, playerctl previous
bindl = SUPER, F8, exec, playerctl next


# -- Fix odd behaviors in IntelliJ IDEs --
#! Fix focus issues when dialogs are opened or closed
# windowrule = windowdance,class:^(jetbrains-.*)$,floating:1
#! Fix splash screen showing in weird places and prevent annoying focus takeovers
windowrule = center,class:^(jetbrains-.*)$,title:^(splash)$,floating:1
windowrule = nofocus,class:^(jetbrains-.*)$,title:^(splash)$,floating:1
windowrule = noborder,class:^(jetbrains-.*)$,title:^(splash)$,floating:1
#! Center popups/find windows
windowrule = center,class:^(jetbrains-.*)$,title:^( )$,floating:1
windowrule = stayfocused,class:^(jetbrains-.*)$,title:^( )$,floating:1
windowrule = noborder,class:^(jetbrains-.*)$,title:^( )$,floating:1
#! Disable window flicker when autocomplete or tooltips appear
windowrule = nofocus,class:^(jetbrains-.*)$,title:^(win.*)$,floating:1

windowrule = opacity 0.0 override, class:^(xwaylandvideobridge)$
windowrule = noanim, class:^(xwaylandvideobridge)$
windowrule = noinitialfocus, class:^(xwaylandvideobridge)$
windowrule = maxsize 1 1, class:^(xwaylandvideobridge)$
windowrule = noblur, class:^(xwaylandvideobridge)$
windowrule = nofocus, class:^(xwaylandvideobridge)$

layerrule = blur,waybar
layerrule = blur,Spotify
windowrule = opacity 0.9, class:^(Spotify)$

{{ if eq .chezmoi.hostname "mig-desktop" }}
# # Some default env vars.
env = LIBVA_DRIVER_NAME,nvidia
{{ end }}

