@import 'colors.css';

/* Keeping these old ones for now */
@define-color bg-main #32272d;
@define-color bg-secondary #303536;
@define-color bg-highlight #ddc7a1;
@define-color bg-battery #a9b665;
@define-color bg-urgent #e78a4e;

@define-color border-main #3c3836;
@define-color border-secondary #434a4c;
@define-color border-tooltip #7c6f64;
@define-color border-highlight #c7ab7a;

@define-color text-normal #c7ab7a;
@define-color text-focus #edd7b1;
@define-color text-contrast #1d2021;
@define-color text-accent #d4be98;
@define-color text-critical #c14a4a;
@define-color text-battery #6c782e;

@define-color bg-main            @surface_container;
@define-color bg-secondary       @primary_container;
@define-color bg-highlight       @secondary;
@define-color bg-battery         @tertiary_fixed_dim;
@define-color bg-urgent          @error_container;

@define-color border-main        @outline_variant;
@define-color border-secondary   @outline;
@define-color border-highlight   @border-secondary;
@define-color border-tooltip     @outline_variant;

@define-color text-normal        @on_surface_container;
@define-color text-highlight     @on_secondary;
@define-color text-critical      @error;
@define-color text-battery       @on_tertiary_fixed;

* {
    border-radius: 3px;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-weight: 600;
    font-size: 14px;
    color: @text-normal;
    padding: 0;
}

window#waybar {
    background: alpha(@bg-main, .7);
    border: 2px solid @border-main;
    background: transparent;
    border: none;
}

/* when there is no open window on workspace */
window#waybar.empty #window {
    background: none;
    border: none;
}

.modules-left, .modules-right {
    margin: 0 6px;
}

tooltip {
    background-color: @bg-main;
    border: 2px solid @border-tooltip;
}

tooltip label {
    padding: 6px;
}

.module {
    margin: 3px;
    margin-bottom: 0;
    padding: 2px 8px;
    background-color: @bg-secondary;
    border: 2px solid @border-secondary;
}

#workspaces {
    padding: 2px 5px;
}

#workspaces button {
    all: unset;
}
#workspaces button label {
    transition: 0.5s;
    padding: 0.2rem 0.7rem;
    margin: 2px;
}
#workspaces button:hover label {
    background-color: alpha(@bg-highlight, 0.7);
    color: @text-highlight;
}
#workspaces button.active label {
    background-color: @bg-highlight;
    color: @text-highlight;
}
#workspaces button.urgent {
    background-color: @bg-urgent;
}

#clock {
    background-color: @bg-highlight;
    color: @text-highlight;
    border: 2px solid @border-highlight;
}

#cpu.critical,
#memory.critical,
#battery.warning,
#battery.critical,
#battery.urgent {
    color: @text-critical;
}

#battery.charging {
    background-color: @bg-battery;
    color: @text-battery;
}

/* tray right click menu */
.popup menu {
    padding: 0.5rem;
    background-color: @bg-secondary;
    color: @text-normal;
}
.popup separator {
    background-color: alpha(@text-normal, .4);
}
