layout {
    background-color "transparent"

    focus-ring {
        active-color   "#95cdf7"
        inactive-color "#8b9198"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#95cdf7"
        inactive-color "#8b9198"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#95cdf7"
        inactive-color "#8b9198"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#95cdf780"
    }
}